language: go
go:
  - 1.11.13
install:
  - export PATH=$PATH:$HOME/gopath/bin
  - go get -u github.com/opennota/check/cmd/structcheck
  - go get -u honnef.co/go/tools/cmd/staticcheck
  - go get -u github.com/mdempsky/unconvert
  - go get -u github.com/gordonklaus/ineffassign
script:
  - pwd
  - | #mkdir
    if [[ ! -d $(dirname `dirname $(pwd)`)/beego/bee ]] ; then
      mkdir -p $(dirname `dirname $(pwd)`)/beego/bee
    fi
  - cp -rf ./ $(dirname `dirname $(pwd)`)/beego/bee
  - cd $(dirname `dirname $(pwd)`)/beego/bee
  - find . ! \( -path './vendor' -prune \) -type f -name '*.go' -print0 | xargs -0 gofmt -l -s
  - go vet  $(go list ./... | grep -v /vendor/)
  - structcheck  $(go list ./... | grep -v /vendor/)
  - staticcheck -ignore "$(cat staticcheck.ignore)" $(go list ./... | grep -v /vendor/)
  - unconvert $(go list ./... | grep -v /vendor/)
  - ineffassign .
